*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    --main-color: #283526;
    --primary-color:#888888 ;
    --button-background:#51b1ac ;
    /* --primary-button-background: #fe7649; */
    --primary-background:#fe7649 ;
    --background-color:#e2efff ;
}
h1,h2{
    font-family: 'Akaya Kanadaka', cursive;
    color: var(--primary-color);
}

h3,h4{
      font-family: "muli";
      color: var(--primary-color);
}
h3{
    font-size: 32px;
    font-weight: 750;
    line-height: 55px;
   text-transform: capitalize;
}
p,a,li,button{
    font-family: "murli";
    color: var(--primary-color);
    
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    line-height: 2px;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}
/*---------------------------------- Our menu style ------------------------------------*/
header{
    padding: 0px 30px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
     
}
header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  
    /* background-color: #e2efff; */
     
}
header nav .left-side-menu a img{
    width: 130px;
    height: 130px;
}
header nav .left-side-menu .sub-menu{
    height: inherit;
    display: flex;
    position: relative;
    z-index: 99;
}
header nav .left-side-menu .sub-menu a{
    margin: 20px;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
    transition: all 0.2s;
}
header nav .left-side-menu .sub-menu a li:hover{
    color: var(--button-background);
}

/* --------------------------right side menu css style---------------------------------  */
header .right-side-menu{
    width: 50%;
    display: flex;
    justify-content:end;
}
header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .right-side-menu .sub-menu a{
    margin-right: 60px;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255,0.5);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button{
    background-color: var(--button-background);
    padding: 20px 20px;
    color: white;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button:hover{
    background-color: rgb(134, 145, 192);
}
header .right-side-menu .sub-menu a li:hover{
   color: #51b1ac;
}
/*-------------------------------------------------- our hero css style------------------------------------------------------ */

.main-hero-section{
    padding:  0px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.main-hero-section .hero-left-side{
    width: 50%;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: flex-start; 
     border-radius: 30px;
     flex-direction: column;
     /* margin-left: 85px; */


}

.main-hero-section h1{
    width: 350px;
    line-height: 55px;
    font-size: 55px;
    margin-bottom: 80px;
    color: black;
    text-transform: capitalize;

}
.main-hero-section p{
    margin-bottom: 70px;
    width: 450px;

}
.main-hero-section a img{
    width: 130px;
    height: 40px;
}
.main-hero-section .button-group a:first-child{
    margin-right: 20px;
}

/*-------------------------------------------------- our hero  right side css style------------------------------------------------- */
.main-hero-section .hero-right-side{
    width: 50%;
     height: 100vh;
     position: absolute;
     right: 0;
     top: 0;
     background-color: var(--background-color);
     display: flex;
     justify-content: center;
     align-items: center; 
     border-radius: 90px 20px 0px 90px;
 }
 .main-hero-section .hero-right-side img{
     width: 1000px;
     height: 700px;
     margin-top: 35px;
     margin-right: 400px;
 }
 
/*-------------------------------------------------- our 2nd section left side css style------------------------------------------------- */

.common-section{

    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 90px;
    padding: 0 80px;

}
.common-section .left-side{
    width: inherit;
    height: initial;
}
.common-section .left-sid figure{
    width: 180px;
    height: 450px;
    background-color: var(--background-color);
    border-radius: 20px;
}
.common-section .left-side img{
    width: 450px;
    height: 600px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 25px;
}

/*-------------------------------------------------- our 2nd section left side css style---------------------------------
                                             ------------------------------------------------ */


.common-section .right-side{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.common-section .right-side h2{
    width: 400px;
    font-style: normal;
    font-size: 55px;
    font-weight: bold;
    line-height: 63px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #283526;

}
.common-section .right-side p{
    width: 430px;
    height: 90px;
    text-transform: lowercase;
    margin-bottom: 30px;
}


.common-section .right-side .common-button{
    padding: 10px 30px;
    background-color: var(--primary-background);
    margin-right: 20px;
    color: white;
    height: 60px;
}
.common-section .right-side .common-button-normal{
    height: 60px;
}
.common-section .right-side button:last-child{
    color: var(--main-color);
    background-color: transparent;
}
.common-section .right-side .common-button:hover{
    background-color: #b43c15;
}
.common-section .right-side .common-button-normal:hover{
    background-color: var(--primary-background)
}

/*-------------------------------------------------- our 3rd section css style-----------------------------------
                                                    ------------------------------------------- */
.section-third{
    width: 100%;
    height: 700px;
    background-color: var(--background-color);
    padding: 30px;
}
.section-third h2{
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;

}
.section-third p{
         width: 400px;
         height: 90px;
         margin-bottom: 30px;
         align-items: center;
         margin: auto;
}
.section-third .section-third-task{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    grid-column-gap: 40px;
}

.section-third .section-third-task .task-1,
.section-third .section-third-task .task-2,
.section-third .section-third-task .task-3{
    padding-top: 20px;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 20px;
    
}

.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-2 h3,
.section-third .section-third-task .task-3 h3{
    font-size: 25px;
    margin-top: 20px;
    text-transform: capitalize;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img,
.section-third .section-third-task .task-3 img{
    width: 150px;
    height: 150px;
    transition: all 0.3s;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img{
    height: 160px;
}

.section-third .section-third-task .task-3 {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53 , 0.25);
}

.section-third .section-third-task .task-1:hover,
.section-third .section-third-task .task-2:hover{
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53 , 0.25);

}

.section-third .section-third-task .task-1:hover> img,
.section-third .section-third-task .task-2:hover> img,
.section-third .section-third-task .task-3:hover> img{
    transform: rotate(360deg);
}

/*-------------------------------------------------- our 4th section css style-----------------------------------
                                                    ------------------------------------------- */

#section-four .right-side h2{
    width: 500px;
}
#section-four .left-side img{
    
    width: 750px;
    height: 550px;
    margin: 0px;
    margin-top: 50px;
}
/*-------------------------------------------------- our 5th section css style-----------------------------------
                                                    ------------------------------------------- */
#section-five .left-side img{
   margin: 0;
   padding-bottom: 50px;
}
#section-five .right-side{
    justify-content: flex-start;
    padding-bottom: 20px;
}
#section-five .right-side h2{
    width: 630px;
    font-weight: 900;
    font-size: 40px;
    line-height: 63px;
}
#section-five .right-side h3{
    text-transform: none;
}
#section-five .right-side p{
    height: 30px;
}
.fa-heart{
    color: var(--primary-background);
}

/*-------------------------------------------------- our 6th fotter section css style-----------------------------------
                                                    ------------------------------------------- */
footer{
    width: 100%;
    background-color: var(--background-color);
    height: auto;
    padding-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
footer img{
    width: 130px;
    height: 130px;
    
}

footer .footer-menu{
   margin-top: 50px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
}
footer div h4{
    font-size: 20px;
    text-transform: capitalize;
}
footer div a{
    font-size: 17px;
    line-height: 150%;
}


/*-------------------------------------------------- our 7th fotter section css style-----------------------------------
                                                    ------------------------------------------- */
.icon-bar{
    position: fixed;
    top: 52%;
    /* transform: translateY(-10%); */
    z-index: 10;
}

.icon-bar a{
    width: 180px;
    background-color: #fe7649;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    padding: 0.5px;
    transition: all 0.5s linear;
    transform: translateX(-161px);
}
.icon-bar a:hover{
    transform: translateX(0);
}
.icon-bar a .fab{
    padding-left: 10px;
}

 .icon-bar .facebook{
    background: blue;
}
.icon-bar .instagram{
    background: rgb(189, 13, 13);
}
.icon-bar .telegram{
    background: rgb(63, 63, 136);
}







